doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(name='viewport', content='width=device-width,initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title &#x767E;&#x5EA6;&#x65B0;&#x95FB;
    link(rel='stylesheet', type='text/css', href='/css/news.css')
  body
    .header
      .headTop
        .slogo
        .user
        .more
        .search
      .divider
      .headNavs
        ul
          li#navRec.navon(value='navRec') &#x63A8;&#x8350;
          li#navFam(value='navFam')
            b
            | &#x767E;&#x5BB6;
          li#navLocal(value='navLocal')
            b
            | &#x672C;&#x5730;
          li#navImg(value='navImg')
            b
            | &#x56FE;&#x7247;
          li#navAmuse(value='navAmuse')
            b
            | &#x5A31;&#x4E50;
          li#navSociety(value='navSociety')
            b
            | &#x793E;&#x4F1A;
    .mainer
      .mainBan
        .banCon
          // <img src="/img/t1.jpg" alt="焦点图" />
        | &#x9;&#x9;
        .banTab
          span.banTabOn
          span
          span
      .mainHot
        .hotLeft &#x70ED;&#x70B9;
        #hotRight
          ul
      .mainCon
        ul#mainContent
    .footer
      span.footReturn
        i
        | &#x610F;&#x89C1;&#x53CD;&#x9988;
      span.footPut
        b
        i
        | &#x5E94;&#x7528;&#x63A8;&#x8350;
      span.footDown
        b
        i
        | &#x5BA2;&#x6237;&#x7AEF;
    script(type='text/javascript', src='/js/jquery-2.1.4.min.js')
    script(type='text/javascript', src='/js/news.js')
