*{
	margin: 0;
	padding: 0;
}
.wrapper{
	width: 600px;
	height:300px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -150px;
	margin-left: -300px;
	background: #FFF9C7;
	box-shadow: 5px 5px 5px #ccc;
}
/*设置居中容器*/
.container{
	height: 210px;
	padding: 10px;
}
.container h2{
	margin-left: 10px;
	color:#376956;
	padding: 8px 0;
}
.container p{
	text-align: center;
	font-size: 60px;
	color: #495A80;
	padding: 60px 0;
}
/*内容*/
.btn{
	height: 50px;
	margin: 10px;
	text-align: right;
}
.btn input{
	width: 180px;
	height: 50px;
	border: none;
	background:#6FBCE4;
	color: #fff;
	font-size: 14px;
	border-radius: 5px;
	margin-right: 10px;
	font-weight: 600;
}
/*按钮*/