*{
	margin: 0;
	padding: 0;
}
body{
	background: #7BB3D4;
}
.container{
	width: 1300px;
	height: 602px;
	margin:0 auto;
	margin-top: 50px;
}
/*整体容器*/
table{
	width: 100%;
	font-size: 12px;
	background: #fff;
}
thead .top{
	background: #008cee;
	height: 60px;
	position: relative;
}
thead .top .search{
	width: 180px;
	height: 32px;
	border-radius: 20px;
	border:none;
	padding-left: 20px;
	background: #0280d8;
	font-size: 14px;
	position: absolute;
	top: 14px;
	right: 20px;
	color: #222;
	-webkit-transition:background 3s,width 2s;
	-moz-transition:background 3s,width 2s;
	-ms-transition:background 3s,width 2s;
	-o-transition:background 3s,width 2s;
}
::-webkit-input-placeholder { 
	color:#fff;
	font-weight: 500;
	font-size: 12px;
}
:-moz-placeholder { 
	color:#fff;
	font-weight: 500;
	font-size: 12px;
}
::-moz-placeholder { 
	color:#fff;
	font-weight: 500;
	font-size: 12px;
}
:-ms-input-placeholder { 
	color:#fff;
	font-weight: 500;
	font-size: 12px;
}
thead .top .search:hover{
	width: 220px;
	background: #fff;
}
/*搜索栏*/
.table tbody tr .navs{
	background: #e4eaf4;
	padding: 0;
}
tbody tr td ul{
	padding: 0;
	text-align: center;

}
tbody tr td li{
	text-align: left;
	list-style: none;
	padding: 0;
	height: 50px;
	padding: 15px;
	font-size: 13px;
	color: #707275;
	cursor: pointer;
}
tbody tr td .tabon{
	background: #CCE4F7;
	border-left: 3px solid #008CEE;
}
tbody tr td a:hover{
	text-decoration: none;
}
tbody tr td .opennews{
	float: right;
	position: relative;
	right: 25px;
}
tbody tr td ul a img{
	width: 41px;
	height: 41px;
	margin-top: 14px;
	margin-bottom: 5px;
}
tbody tr td ul a p{
	font-size: 12px;
}
tbody tr td ul .ctrl img{
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-top: 10px;
}
tbody tr td ul .ctrl{
	margin-top: 60px;
}
/*导航栏*/
.msn{
	background: #D5EDFE;
	cursor: pointer;
}
.msn img{
	width: 38px;
	margin-right: 8px;
}
.msn span{
	color: #bdbebf;

}
.msner img{
	width: 38px;
	margin-right: 10px;
}
/*信息内容*/
tbody tr td form textarea{
	height: 100px;
	margin-bottom: 10px;
}
.adminCon{
	width: 980px;
	height: 469px;
	box-sizing:border-box;
	overflow: hidden;
	overflow-y: scroll;
}
.adminCon .admanage td{
	height: 28px;
}
.adminCon .admanage input{
	border:none;
	cursor: pointer;
}
.mhide{
	display: none;
}
